<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="NakadeTest">
            <directory>../module/Nakade/test</directory>
        </testsuite>
        <testsuite name="LeagueTest">
            <directory>../module/League/test</directory>
        </testsuite>
        <testsuite name="StatsTest">
            <directory>../module/Stats/test</directory>
        </testsuite>
        <testsuite name="SeasonTest">
            <directory>../module/Season/test</directory>
        </testsuite>
    </testsuites>
</phpunit>