/*
* Style for league
* @package: league
* @author: Holger Maerz
* @date: 12.06.2014
*/
a.iCal {
    background: url(../images/iCal-16.png) no-repeat left center;
    padding-left: 20px;
    font-weight: bold;
}

ul.legend {
    margin-top: 10px;
    margin-left: 10px;
    list-style-type:none;
}

table.results {
    width: auto;
    margin-top: 0.5em;
}

.results .versus {
    padding: 0 6px;
}

.results .space {
    padding-right: 10px;
}