/*
* Style for season
* @package: season
* @author: Holger Maerz
* @date: 29.05.2014
*/

ul.playerList {
    list-style:none;
}

ul.playerList li {
    line-height:16px;
}

ul.playerList span {
    color: black;
    font-weight: bold;
}

ul.playerList li img {
    height:16px;
    width:16px;
    margin-left:10px;
    vertical-align: text-top;
}


.info {
    list-style: none;
    margin-left: 5px;
    margin-top: 5px;
}


