div#sidebar {
    float: left;
    margin: 0 10px;
    display: inline-block;
    cursor: default;
}

div#sidebar ul {
    margin: 10px 0;
    list-style: none;
}

div#sidebar ul li {
    white-space: nowrap;
}

div#sidebar ul li.nextMatch {
    margin-bottom: 5px;
}

div#sidebar ul li a:hover,
#sidebar .moderator a {
    text-decoration: none;
}

div#sidebar em {
    font-style: normal;
}

div#sidebar a:hover em {
    text-decoration: underline;
}

#sidebar span {
    font-weight: bold;
    padding-right: 5px;
}

#sidebar span.info {
    color: red;
}

#sidebar a {
    display: inline-block;
    font-weight: bold;
}

#sidebar .infoBtn {
    vertical-align: text-bottom;
    display: inline-block;
    margin-right: 5px;
}

#sidebar .profile {
    margin-top: 5px;
}

#sidebar .profile a {
    font-weight: normal;
}

#sidebar .profile a div {
    vertical-align: -1px;
}

#sidebar .stats {
    margin-top: 5px;
}

#sidebar .stats a {
    font-weight: bold;
}

#sidebar .stats a div {
    padding-right: 5px;
}

#sidebar .moderator div {
    font-weight: bold;
    padding-right: 5px;
}

#sidebar .nextMatch {
    font-weight: bold;
}

#sidebar .nextMatch span {
    color: #000000;
}