@import "message.css";
@import "appointment.css";
@import "season.css";
@import "league.css";
@import "user.css";
@import "images.css";
@import "pagination.css";
@import "privacy.css";
@import "support.css";


body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.table-header { display: table-header; }
.table-row { display: table-row; }
.table-cell { display: table-cell; }

.league {
    margin-top: 0.5em;
}

.league .versus {
    padding: 0 6px;
}

.league .space {
   padding-right: 10px;
}

.league .black {
   width: 20px;
   background: url('../images/black.png') no-repeat center center;
}

.league .white {
   width: 20px;
   background: url('../images/white.png') no-repeat center center;
}


.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../images/go-green.png") no-repeat scroll 0 3px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

form input[type="submit"] {margin-top: 10px;margin-right: 10px;}

.copyright ul { margin: 0; padding: 0.8em; text-align: center;}
.copyright ul li { list-style: none; display:inline;margin: 0.4em; padding: 0;}
.version {color: #68b604;}

/* checkboxes label */
form input.checkbox {
    display:inline-block;
    float: left;
    margin-right: 10px;
}

div.widget {
    display: inline-block;
    vertical-align: top;
    width: auto;
    border:1px solid #ccc;
    border-bottom-color:#bbb;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:16px;
    -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 10px;
    margin: 10px 10px 10px 0;
}

.widget h3, .widget h4, .widget h5 {
    margin: 0 0 10px 0;
    color: #68b604;
    font-weight: bold;
    text-shadow:0 1px 1px rgba(155, 155, 255, 0.45);
}

.widget h5 {
    margin: 0;
    color: #0088cc;
}

.widget p {
    text-align: justify;
}

.widget p.important {
    font-weight:bolder;
    color: #68b604;
    font-size: larger;
    text-transform: uppercase
}

.widget .btn {
    background-color:#68b604;
    color: white;
    display:inline-block;
    padding:4px 10px 4px;
    font-size:13px;
    font-weight:bold;
    line-height:18px;
    text-align:center;
    text-shadow:0 1px 1px rgba(255, 255, 255, 0.15);
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#3ADF00), color-stop(25%, #3ADF00), to(#68b604));
    background-image:-webkit-linear-gradient(#3ADF00, #3ADF00 25%, #68b604);
    background-image:-moz-linear-gradient(top, #3ADF00, #3ADF00 25%, #68b604);
    background-image:-ms-linear-gradient(#3ADF00, #3ADF00 25%, #68b604);
    background-image:-o-linear-gradient(#3ADF00, #3ADF00 25%, #68b604);
    background-image:linear-gradient(#3ADF00, #3ADF00 25%, #68b604);
    background-repeat:no-repeat;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3ADF00', endColorstr='#68b604', GradientType=0);
    border:1px solid #ccc;
    border-bottom-color:#bbb;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    cursor:pointer;
    *margin-left:.3em;
}
.widget .btn:hover {
    text-decoration: none;
}

.blog {
    padding:20px;
    margin-bottom:30px;
    background-color:#f5f5f5;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    height: auto;
    max-height: 200px;
    width:850px;
    display: table;
}

.blog .btn {
    display: table-cell;
    padding:0 8px;
    height: 100%;
    text-decoration:none;
    color:#57a900;
    font-weight:bold;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    vertical-align: middle;
}

.blog .post {
    display: table-cell;
    padding: 0 5px;
    max-height: inherit;
    overflow: auto;
}

.blog .post p {
    margin:0;
    font-size:13px;
    line-height:1.3;
}

.blog .post .info {
    padding:0;
    margin:0;
    color:grey;
    font-size:smaller;
}


div.success {
    width: 100%;
    background-color: #57a900;
    color: white;
    padding: 2px 10px;
    font-weight: bold;
}

div.error {
    width: 100%;
    background-color: red;
    color: white;
    padding: 2px 10px;
    font-weight: bold;
}

#termsOfUse ul {
    list-style: decimal;
}

#termsOfUse ul li {
    font-weight: bold;
    text-decoration: underline;
    margin-top: 10px;
}