@import "message.css";
@import "appointment.css";

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.table-header { display: table-header; }
.table-row { display: table-row; }
.table-cell { display: table-cell; }


.blog { height:9em;width:80%; overflow:auto;}
.blog div {padding-top:10px;}


.league {
    margin-top: 0.5em;
}

.league .versus {
    padding: 0 6px;
}

.league .space {
   padding-right: 10px;
}

.league .black {
   width: 20px;
   background: url('/images/black.png') no-repeat center center;
}

.league .white {
   width: 20px;
   background: url('/images/white.png') no-repeat center center;
}


.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../images/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

form input[type="submit"] {margin-top: 10px;margin-right: 10px;}

.copyright ul { margin: 0; padding: 0.8em; text-align: center;}
.copyright ul li { list-style: none; display:inline;margin: 0.4em; padding: 0;}
.version {color: #68b604;}
